<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scraping through mission to Mars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>

<body>
    <body class='text-white'style="background-color:white;" >
        <div class="container">
      
          <!-- Jumbotron -->
          <div class="jumbotron text-center" style="background-image: url(https://www.wallpaperbetter.com/wallpaper/897/576/61/mars-planet-space-1080P-wallpaper.jpg); background-size: 40%; height: 100%;">
              <h1 class="display-4" >Mission to Mars</h1>
              <a class="btn btn-lg text-white" style="background-color:#2a0ec1;" href="/scrape" role="button">Scrape New
                  Data</a>
          </div>
        </div>  

</body>

</html>